apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "coremaker-common-chart.fullname" . }}
  labels:
    app_name: {{ template "coremaker-common-chart.fullname" . }}
    app_version: "{{ .Values.image.tag }}"
spec:
{{- if not .Values.container.keda.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      app_name: {{ template "coremaker-common-chart.fullname" . }}
{{- if .Values.istio.selectors }}
      app: {{ template "coremaker-common-chart.fullname" . }}
      version: v1
{{- end }}
  template:
    metadata:
      annotations:
{{- if .Values.istio.annotations }}
{{ toYaml .Values.istio.annotations | indent 8 }}
{{- end }}
{{- if .Values.annotations }}
{{ toYaml .Values.annotations | indent 8 }}
{{- end }}
      labels:
        app_name: {{ template "coremaker-common-chart.fullname" . }}
        app_version: "{{ .Values.image.tag }}"
        app: {{ template "coremaker-common-chart.fullname" . }}
        version: v1
    spec:
{{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
{{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      initContainers:
{{- if .Values.initContainers }}
{{- toYaml .Values.initContainers | nindent 8 }}
{{- end }}
{{- if .Values.container.serviceAccount.create }}
      serviceAccountName: {{ template "coremaker-common-chart.fullname" . }}
{{- end }}
      {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      {{- end }}
{{- if .Values.topologySpreadConstraints.enabled }}
      topologySpreadConstraints:
        - maxSkew: {{ .Values.topologySpreadConstraints.maxSkew }}
          topologyKey: {{ .Values.topologySpreadConstraints.topologyKey }}
          whenUnsatisfiable: {{ .Values.topologySpreadConstraints.whenUnsatisfiable }}
          labelSelector:
            matchLabels:
              app_name: {{ template "coremaker-common-chart.fullname" . }}    
{{- end }}
      securityContext:
        fsGroup: {{ .Values.securityContext.fsGroup }}
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
      containers:
{{- if .Values.sidecarContainers }}
{{- toYaml .Values.sidecarContainers | nindent 8 }}
{{- end }}
        - name: {{ template "coremaker-common-chart.fullname" . }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: BASE_IMAGE
              value: {{ .Values.image.repository }}:{{ .Values.image.tag }}
            - name: CONTAINER_NAME
              value: {{ template "coremaker-common-chart.fullname" . }}
            - name: APP_NAME
              value: {{ template "coremaker-common-chart.fullname" . }}
            - name: APP_VERSION
              value: "{{ .Values.image.tag }}"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
{{- if .Values.container.env }}
{{- range $key, $value := .Values.container.env }}
            - name: "{{ tpl $key $ }}"
              value: "{{ tpl (print $value) $ }}"
{{- end }}
{{- end }}
{{- if .Values.container.envFrom }}
{{- range $key, $value := .Values.container.envFrom }}
            - name: {{ $key | quote }}
              valueFrom:
{{ toYaml $value | indent 16 }}
{{- end }}
{{- end }}
{{- if .Values.container.envFromSecrets }}
          envFrom:
{{- range .Values.container.envFromSecrets }}
            - secretRef:
                name: {{ tpl .name $ }}
{{- end }}
{{- end }}
{{- if .Values.container.securityContext }}
          securityContext:
{{ toYaml .Values.container.securityContext | indent 12 }}
{{- end }}
          volumeMounts:
{{- if .Values.container.additionalVolumeMounts }}
{{ toYaml .Values.container.additionalVolumeMounts | indent 12 }}
{{- end }}
          ports:
            - name: {{ .Values.container.ports.name }}
              containerPort: {{ .Values.container.ports.port }}
{{- if .Values.container.additionalPorts }}
{{ toYaml .Values.container.additionalPorts | indent 12 }}
{{- end }}
{{- if .Values.container.livenessProbe }}
          livenessProbe:
{{ toYaml .Values.container.livenessProbe | indent 12 }}
{{- end }}
{{- if .Values.container.args }}
          args:
{{ toYaml .Values.container.args | indent 12 }}
{{- end }}
{{- if .Values.container.readinessProbe }}
          readinessProbe:
{{ toYaml .Values.container.readinessProbe | indent 12 }}
{{- end }}
{{- if .Values.container.lifecycle }}
          lifecycle:
{{ toYaml .Values.container.lifecycle | indent 12 }}
{{- end }}
          resources:
{{ toYaml .Values.container.resources | indent 12 }}
      volumes:
{{- if .Values.additionalVolumes }}
{{ toYaml .Values.additionalVolumes | indent 8 }}
{{- end }}
